html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    height: 100%;
}

body>* {
    margin: 1%;
}

table{
    width: 100%;
    border-spacing: 0;
    border: yellow 1px solid;
}

tr:hover{
    background-color: red;
}

.bold-color{
    font-weight: bold;
    background-color: blue;
    color: yellow;
}
