<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <nav class="top-nav-main">
            <ul>
                <li><span>Test</span></li>
                <li><a href="../index.html">home</a></li>
                <li><a href="../learn/index.html">learn</a></li>
                <li><a href="../login.html">login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis distinctio hic ipsum quo doloremque
            provident quis reprehenderit molestias voluptates explicabo dolor quas molestiae repellat iure, amet odio
            voluptatum unde. Modi.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa odit odio corrupti alias dolores sit quisquam
            architecto, neque corporis a ea cumque molestias sint vel blanditiis eaque quia, ab totam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam nemo aspernatur vero pariatur rem eos
            atque, distinctio commodi corrupti recusandae reprehenderit ratione perferendis, architecto praesentium
            ipsa, fugiat numquam similique tenetur!</p>
    </main>
</body>

</html>